body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
/*animacion*/
.trans{
    animation: efecto 4s;
}

@keyframes efecto{
    0%{
        opacity: 0.10;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1.00;;
    }

}
/*Estilos para Pagination de Jtable*/

.jtable-bottom-panel{
    margin: 1em;
    
}
.jtable-page-list{
    background: #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.jtable-page-list span[class*="jtable-page"]{
    margin: 10px;
}
.jtable-page-list span[class*="number-active"]{
    background: #ee6e73;
    color:  white;
    margin: 2px;
    padding: 1em;
    border-radius: 3px;
    cursor: hand;
}
.jtable-page-list span[class$="number"]{
    margin: 2px;
    padding: 4px;
    border-radius: 3px;
    cursor: hand;
}
.jtable-page-list span[class$="next"],
.jtable-page-list span[class$="last"],
.jtable-page-list span[class$="first"],
.jtable-page-list span[class$="previous"]{
    color: #ee6e73;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: hand;
}